@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;

  --primary: #7c3aed;
  --secondary: #06b6d4;

  --radius: 16px;
}

.dark {
  --background: #050816;
  --foreground: #f8fafc;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  min-height: 100vh;
}